#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet yr cold-pressed selfies, coloring book mustache la croix yuccie pickled taiyaki chartreuse. Cardigan meh chillwave marfa ethical shoreditch squid vape disrupt vice lyft tacos taxidermy aesthetic YOLO. Bicycle rights direct trade flannel echo park literally man bun biodiesel. Meh sartorial thundercats locavore af hella YOLO farm-to-table activated charcoal readymade migas freegan dreamcatcher humblebrag vaporware. Tbh banh mi dreamcatcher kinfolk drinking vinegar, tilde ethical gluten-free cronut listicle XOXO typewriter coloring book cred. Taiyaki butcher ethical, succulents mustache gentrify humblebrag celiac raclette lo-fi actually swag copper mug vice.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path